# Google App Engine generated folder
appengine-generated/

# IntelliJ IDEA Files #
.idea/
*.iml
*.ipr
*.iws

# eclipse Files #
.classpath
.project
.settings/

# Apache Maven Files #
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

*.DS_Store
