{
    "swagger": "2.0",
    "info": {
        "description": "TurnOnline.biz Ecosystem Payment Processor",
        "version": "1.0",
        "title": "Payment Processor"
    },
    "host": "payment.turnon.cloud",
    "basePath": "/api/payment",
    "tags": [
        {
            "name": "Bank Accounts"
        },
        {
            "name": "Code-books"
        }
    ],
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/v1/bank-accounts": {
            "get": {
                "tags": [
                    "Bank Accounts"
                ],
                "summary": "Search bank accounts",
                "operationId": "searchBankAccounts",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The position of the first result to retrieve, numbered from 0.",
                        "default": 0
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "description": "The maximum number of results to retrieve.",
                        "default": 10
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "The country of the bank where bank account has been opened. The ISO 3166 alpha-2 country code. It’s case insensitive.",
                        "x-example": "SK"
                    },
                    {
                        "name": "alternative",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "description": "The applied filter parameter will make return the list of all alternative bank accounts except the primary one. The primary bank account will be first searched with preferred actual country (taken either as a default or explicite one), then if not found without applied country filter."
                    },
                    {
                        "name": "bank",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "The bank code to filter out bank accounts only for this bank."
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "description": "The language the client has configured to prefer in results. If requested language is not supported (or not provided at all) will fallback to the default language of the associated account."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The list of the filtered bank accounts.",
                        "schema": {
                            "$ref": "#/definitions/BankAccountCollection"
                        }
                    },
                    "401": {
                        "description": "The error when the authentication credential fails.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "It's a failure of the server. The client can repeat the request without modifications at any later time.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "503": {
                        "description": "The service is unavailable or the server has timed out processing of the request. The client may repeat the request without modifications at any later time.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [
                    {
                        "firebase-a9a2a51a": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Bank Accounts"
                ],
                "summary": "Create bank account",
                "operationId": "insertBankAccount",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BankAccount"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Newly created and updated bank account.",
                        "schema": {
                            "$ref": "#/definitions/BankAccount"
                        }
                    },
                    "400": {
                        "description": "The error indicates that client has made a request that server couldn't understand. The client should not repeat the request without modifications.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "The error when the authentication credential fails.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "It's a failure of the server. The client can repeat the request without modifications at any later time.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "503": {
                        "description": "The service is unavailable or the server has timed out processing of the request. The client may repeat the request without modifications at any later time.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [
                    {
                        "firebase-a9a2a51a": []
                    }
                ]
            }
        },
        "/v1/bank-accounts/primary": {
            "get": {
                "tags": [
                    "Bank Accounts"
                ],
                "summary": "Get credit bank account",
                "description": "Returns the credit bank account to be listed as the target account for a payment on an issued invoice. The country property of the bank account is used here as a filter parameter. If you need to return credit account for different country, specify the country as a query parameter.\n\nThe credit bank account will be first searched with preferred actual country (taken either as a default or explicit one), then if not found without applied country filter.",
                "operationId": "getPrimaryBankAccount",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "country",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "The country for which the credit bank account is being searched for. The ISO 3166 alpha-2 country code. It’s case insensitive."
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "description": "The language the client has configured to prefer in results. If requested language is not supported (or not provided at all) will fallback to the default language of the associated account."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The credit bank account.",
                        "schema": {
                            "$ref": "#/definitions/BankAccount"
                        }
                    },
                    "401": {
                        "description": "The error when the authentication credential fails.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "The error when client tries to retrieve a credit bank account but none of the bank accounts is being marked as a credit one.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "It's a failure of the server. The client can repeat the request without modifications at any later time.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "503": {
                        "description": "The service is unavailable or the server has timed out processing of the request. The client may repeat the request without modifications at any later time.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [
                    {
                        "firebase-a9a2a51a": []
                    }
                ]
            }
        },
        "/v1/bank-accounts/{account_id}": {
            "get": {
                "tags": [
                    "Bank Accounts"
                ],
                "summary": "Get bank account",
                "operationId": "getBankAccount",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "description": "The language the client has configured to prefer in results. If requested language is not supported (or not provided at all) will fallback to the default language of the associated account."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The bank account for given ID.",
                        "schema": {
                            "$ref": "#/definitions/BankAccount"
                        }
                    },
                    "401": {
                        "description": "The error when the authentication credential fails.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "The error when client tries to retrieve a bank account that doesn’t exist.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "It's a failure of the server. The client can repeat the request without modifications at any later time.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "503": {
                        "description": "The service is unavailable or the server has timed out processing of the request. The client may repeat the request without modifications at any later time.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [
                    {
                        "firebase-a9a2a51a": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Bank Accounts"
                ],
                "summary": "Update bank account",
                "operationId": "updateBankAccount",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BankAccount"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The updated bank account.",
                        "schema": {
                            "$ref": "#/definitions/BankAccount"
                        }
                    },
                    "400": {
                        "description": "The error indicates that client has made a request that server couldn't understand. The client should not repeat the request without modifications.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "The error when the authentication credential fails.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "The error when client tries to update a bank account that doesn’t exist.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "It's a failure of the server. The client can repeat the request without modifications at any later time.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "503": {
                        "description": "The service is unavailable or the server has timed out processing of the request. The client may repeat the request without modifications at any later time.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [
                    {
                        "firebase-a9a2a51a": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Bank Accounts"
                ],
                "summary": "Delete bank account",
                "operationId": "deleteBankAccount",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "204": {
                        "description": "The confirmation, the bank account has been deleted."
                    },
                    "400": {
                        "description": "The error indicates the order is not allowed to be deleted as it has already issued invoices or has status FINISHED.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "The error when the authentication credential fails.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "The error when client tries to delete a bank account that doesn’t exist.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "It's a failure of the server. The client can repeat the request without modifications at any later time.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "503": {
                        "description": "The service is unavailable or the server has timed out processing of the request. The client may repeat the request without modifications at any later time.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [
                    {
                        "firebase-a9a2a51a": []
                    }
                ]
            },
            "parameters": [
                {
                    "name": "account_id",
                    "in": "path",
                    "required": true,
                    "type": "integer",
                    "format": "int64",
                    "description": "The unique identification of the bank account."
                }
            ]
        },
        "/v1/bank-accounts/{account_id}/primary": {
            "put": {
                "tags": [
                    "Bank Accounts"
                ],
                "summary": "Mark bank account as a primary credit account",
                "description": "Mark the corresponding bank account as a primary credit account. This bank account becomes the primary credit account for country that bank account belongs to. If there are more bank accounts specified for different countries, the user must mark it primary explicitly with the bank account that belongs to target country.",
                "operationId": "markPrimaryBankAccount",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "The bank account that has been marked as a primary credit account.",
                        "schema": {
                            "$ref": "#/definitions/BankAccount"
                        }
                    },
                    "400": {
                        "description": "The error indicates that client has tried to mark bank account as a credit one but this bank account can't be. The client should not repeat the request without modifications.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "The error when the authentication credential fails.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "The error when client tries to mark specified bank account as a primary credit account that doesn’t exist.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "It's a failure of the server. The client can repeat the request without modifications at any later time.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "503": {
                        "description": "The service is unavailable or the server has timed out processing of the request. The client may repeat the request without modifications at any later time.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [
                    {
                        "firebase-a9a2a51a": []
                    }
                ]
            },
            "parameters": [
                {
                    "name": "account_id",
                    "in": "path",
                    "required": true,
                    "type": "integer",
                    "format": "int64",
                    "description": "The unique identification of the bank account."
                }
            ]
        },
        "/v1/bank-accounts/{bank_code}/certificates/actual": {
            "put": {
                "tags": [
                    "Bank Accounts"
                ],
                "summary": "Enables API access",
                "description": "Enables API access to bank account. Onboard all the bank accounts in to the service via bank API (access granted by certificate). Once the task to grant access has been successfully finished, the customer's bank accounts will be available via endpoint to search bank accounts.",
                "operationId": "enableApiAccess",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Certificate"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The confirmation, the task to onboard specified bank via API has been started.",
                        "schema": {
                            "$ref": "#/definitions/Certificate"
                        }
                    },
                    "400": {
                        "description": "The error indicates that client has tried to onboard a bank that is not supported at that time. The client should not repeat the request without modifications.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "401": {
                        "description": "The error when the authentication credential fails.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "The error when client tries to on-board a bank that is either unknown or does not exit.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "It's a failure of the server. The client can repeat the request without modifications at any later time.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "503": {
                        "description": "The service is unavailable or the server has timed out processing of the request. The client may repeat the request without modifications at any later time.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [
                    {
                        "firebase-a9a2a51a": []
                    }
                ]
            },
            "parameters": [
                {
                    "name": "bank_code",
                    "in": "path",
                    "required": true,
                    "type": "string",
                    "description": "Bank identification, the code taken from the code-book."
                }
            ]
        },
        "/v1/codebook/bank-code": {
            "get": {
                "tags": [
                    "Code-books"
                ],
                "summary": "List bank codes",
                "operationId": "listBankCodes",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "country",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "The country (ISO 3166 alpha-2 country code) to filter the bank codes valid for given country. If requested country is not supported (or not provided at all) will fallback to the country associated with the account."
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "description": "The language the client has configured to prefer in results. If requested language is not supported (or not provided at all) will fallback to the default language of the associated account."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The list of bank codes matching filtering criteria.",
                        "schema": {
                            "$ref": "#/definitions/BankCodeCollection"
                        }
                    },
                    "401": {
                        "description": "The error when the authentication credential fails.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "It's a failure of the server. The client can repeat the request without modifications at any later time.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "503": {
                        "description": "The service is unavailable or the server has timed out processing of the request. The client may repeat the request without modifications at any later time.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [
                    {
                        "firebase-a9a2a51a": []
                    }
                ]
            }
        },
        "/v1/codebook/bank-code/{code}": {
            "get": {
                "tags": [
                    "Code-books"
                ],
                "summary": "Get description of the bank",
                "operationId": "getBankDescription",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "country",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "The country (ISO 3166 alpha-2 country code) to select the bank code valid for given country. If requested country is not supported (or not provided at all) will fallback to the country associated with the account."
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "description": "The language the client has configured to prefer in results. If requested language is not supported (or not provided at all) will fallback to the default account language."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The requested brief description bank account for concrete country and language.",
                        "schema": {
                            "$ref": "#/definitions/BankCode"
                        }
                    },
                    "401": {
                        "description": "The error when the authentication credential fails.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "The error when client tries to retrieve a bank code that doesn't exist.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "It's a failure of the server. The client can repeat the request without modifications at any later time.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "503": {
                        "description": "The service is unavailable or the server has timed out processing of the request. The client may repeat the request without modifications at any later time.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [
                    {
                        "firebase-a9a2a51a": []
                    }
                ]
            },
            "parameters": [
                {
                    "name": "code",
                    "in": "path",
                    "required": true,
                    "type": "string",
                    "description": "The bank identification to retrieve specific description of the associated bank."
                }
            ]
        }
    },
    "securityDefinitions": {
        "firebase-a9a2a51a": {
            "type": "oauth2",
            "authorizationUrl": "",
            "flow": "implicit",
            "x-google-issuer": "https://securetoken.google.com/turn-online-eu",
            "x-google-jwks_uri": "https://www.googleapis.com/service_accounts/v1/metadata/x509/securetoken@system.gserviceaccount.com",
            "x-google-audiences": "turn-online-eu"
        }
    },
    "definitions": {
        "Bank": {
            "type": "object",
            "required": [
                "code"
            ],
            "properties": {
                "code": {
                    "type": "string",
                    "description": "The country specific numeric bank code, taken from the code-book."
                },
                "label": {
                    "type": "string",
                    "description": "The localized name of the bank, taken from the code-book and based on either default or specified language. \n\nThe value will be managed by the service once Accept-Language header will be provided while bank account getting."
                },
                "country": {
                    "type": "string",
                    "description": "The country of the bank where bank account has been opened. The missing value will be taken from the codebook if that combination is being found. The ISO 3166 alpha-2 country code. It’s case insensitive.\n\nNote: Currently supported only SK and CZ."
                }
            }
        },
        "BankAccount": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The unique bank account identification."
                },
                "name": {
                    "type": "string",
                    "description": "The user defined name of the bank account."
                },
                "branch": {
                    "type": "string",
                    "description": "The bank branch identification."
                },
                "iban": {
                    "type": "string",
                    "description": "The international bank account number."
                },
                "bic": {
                    "type": "string",
                    "description": "The international Bank Identifier Code (BIC/ISO 9362, a normalized code - also known as Business Identifier Code, Bank International Code and SWIFT code)."
                },
                "currency": {
                    "type": "string",
                    "description": "The bank account currency. An alphabetic code based on the ISO 4217."
                },
                "primary": {
                    "type": "boolean",
                    "description": "Boolean identification, whether this bank account is being marked by the user as a primary credit account. If yes, this bank account will be used as a default credit account unless specified another one. There might be only max single or none primary credit bank account per country.",
                    "default": false
                },
                "bank": {
                    "description": "Bank identified by bank code and its brief description.",
                    "$ref": "#/definitions/Bank"
                }
            },
            "description": "The bank account resource."
        },
        "BankAccountCollection": {
            "type": "object",
            "properties": {
                "items": {
                    "type": "array",
                    "description": "Bank account collection wrapper.",
                    "items": {
                        "$ref": "#/definitions/BankAccount"
                    }
                }
            }
        },
        "BankCode": {
            "type": "object",
            "required": [
                "code",
                "country",
                "label",
                "locale"
            ],
            "properties": {
                "code": {
                    "type": "string",
                    "description": "The bank code is a numeric code assigned by a central bank to concrete bank."
                },
                "label": {
                    "type": "string",
                    "description": "The localized name of the bank."
                },
                "locale": {
                    "type": "string",
                    "description": "The label language. ISO 639 alpha-2 or alpha-3 language code."
                },
                "country": {
                    "type": "string",
                    "description": "The ISO 3166 alpha-2 country code. The country of the bank code that belongs to."
                }
            },
            "description": "The brief description of the bank for concrete bank code."
        },
        "BankCodeCollection": {
            "type": "object",
            "properties": {
                "items": {
                    "type": "array",
                    "description": "Bank code collection wrapper.",
                    "items": {
                        "$ref": "#/definitions/BankCode"
                    }
                }
            }
        },
        "Certificate": {
            "type": "object",
            "properties": {
                "accessAuthorised": {
                    "type": "boolean",
                    "description": "Boolean indication whether access to bank API has been already granted."
                },
                "authorisedOn": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Date and time when access to bank API was granted."
                },
                "clientId": {
                    "type": "string",
                    "description": "Identification of the app within the bank."
                },
                "keyName": {
                    "type": "string",
                    "description": "Secret manager private key name configurable by the client, or default one (default value depends on concrete bank)."
                }
            },
            "description": "Certificate metadata, not a sensitive data."
        },
        "Error": {
            "type": "object",
            "required": [
                "error"
            ],
            "properties": {
                "error": {
                    "description": "Error body wrapper.",
                    "$ref": "#/definitions/ErrorBody"
                }
            }
        },
        "ErrorBody": {
            "type": "object",
            "required": [
                "code",
                "errors",
                "message"
            ],
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The HTTP status code."
                },
                "errors": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ErrorReason"
                    }
                },
                "message": {
                    "type": "string",
                    "description": "The error message."
                }
            }
        },
        "ErrorReason": {
            "type": "object",
            "required": [
                "domain",
                "message",
                "reason"
            ],
            "properties": {
                "domain": {
                    "type": "string",
                    "description": "The overall scope of the error message."
                },
                "message": {
                    "type": "string",
                    "description": "The detailed error message."
                },
                "reason": {
                    "type": "string",
                    "description": "The error reason (error key)."
                }
            }
        }
    }
}